[global_tags]

# grafana dashboards = 11912, https://grafana.com/grafana/dashboards/11912

[agent]
  interval = "60s" # default 10s 
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  hostname = "" # dejar en blanco para tomar el hostname del equipo
  omit_hostname = false

[[outputs.influxdb]]
   urls = ["{{ db_url }}"] # cambiar influxdb host 
   database="{{ db_name }}" # database que almacena tablas, por defecto _telegraf

[[inputs.cpu]]

  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false
[[inputs.disk]]

  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]
[[inputs.diskio]]
[[inputs.kernel]]
[[inputs.mem]]
[[inputs.processes]]
[[inputs.swap]]
[[inputs.system]]