[meta]
  #dir = "/var/lib/influxdb/meta"
  # /mnt/kvol -> volume en DO 
  dir = "{{  }}"

[data]
  #dir = "/var/lib/influxdb/data"
  dir = "{{  }}"
  engine = "tsm1"
  #wal-dir = "/var/lib/influxdb/wal"
  wal-dir = "{{  }}"